#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>VUCEM</display-name>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:infrastructure-context.xml,
            classpath:applicationContext-core.xml,
            classpath:applicationContext-catalog.xml,
            /WEB-INF/config/spring/main/main-context.xml</param-value>
  </context-param>
  <context-param>
    <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
    <param-value>bundles/controller/text</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>
			org.springframework.web.context.request.RequestContextListener</listener-class>
  </listener>
  <listener>
    <listener-class>
			com.softtek.authentication.listener.AuthenticationListener</listener-class>
  </listener>
  <filter>
    <display-name>Stripes Filter</display-name>
    <filter-name>StripesFilter</filter-name>
    <filter-class>net.sourceforge.stripes.controller.StripesFilter</filter-class>
    <init-param>
      <param-name>ActionResolver.Packages</param-name>
      <param-value>mx.gob.ventanillaunica.www,com.softtek</param-value>
    </init-param>
    <init-param>
      <param-name>ActionBeanContext.Class</param-name>
      <param-value>com.softtek.controller.BaseControllerContext</param-value>
    </init-param>
    <init-param>
      <param-name>ExceptionHandler.Class</param-name>
      <param-value>com.softtek.web.exception.VUExceptionHandler</param-value>
    </init-param>
    <init-param>
      <param-name>Interceptor.Classes</param-name>
      <param-value>net.sourceforge.stripes.integration.spring.SpringInterceptor,com.softtek.web.config.SubmitVerificationInterceptor,
            com.softtek.web.config.AuthenticationInterceptor,com.samaxes.stripes.xss.XSSInterceptor,
            com.softtek.web.config.HiddenFieldsInterceptor</param-value>
    </init-param>
    <init-param>
      <param-name>LocalizationBundleFactory.ErrorMessageBundle</param-name>
      <param-value>/bundles/controller/error</param-value>
    </init-param>
    <init-param>
      <param-name>LocalizationBundleFactory.FieldNameBundle</param-name>
      <param-value>/bundles/controller/text</param-value>
    </init-param>
    <init-param>
      <param-name>LocalePicker.Class</param-name>
      <param-value>com.softtek.web.config.VULocalePicker</param-value>
    </init-param>
    <init-param>
      <param-name>LocalePicker.Locales</param-name>
      <param-value>en, es</param-value>
    </init-param>
    <init-param>
      <param-name>FileUpload.MaximumPostSize</param-name>
      <param-value>13mb</param-value>
    </init-param>
    <init-param>
      <param-name>Stripes.EncryptionKey</param-name>
      <param-value>gggwUaVnlK7cMquEDn96PIITCXkC3tRarieJ0ZhcfKY6I4I6qa9ykuTVfN046rjd</param-value>
    </init-param>
    <init-param>
      <param-name>Extension.Packages</param-name>
      <param-value>com.softtek.web.config,
            org.stripesstuff.plugin</param-value>
    </init-param>
    <init-param>
      <param-name>SecurityManager.Class</param-name>
      <param-value>com.softtek.web.security.GlobalSecurityManager</param-value>
    </init-param>
    <init-param>
      <param-name>PopulationStrategy.Class</param-name>
      <param-value>net.sourceforge.stripes.tag.BeanFirstPopulationStrategy</param-value>
    </init-param>
    <init-param>
      <param-name>Validation.InvokeValidateWhenErrorsExist</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>StripesFilter</filter-name>
    <servlet-name>DispatcherServlet</servlet-name>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>CacheFilter</filter-name>
    <filter-class>com.opensymphony.oscache.web.filter.CacheFilter</filter-class>
    <init-param>
      <param-name>time</param-name>
      <param-value>3600</param-value>
    </init-param>
    <init-param>
      <param-name>scope</param-name>
      <param-value>session</param-value>
    </init-param>
    <init-param>
      <param-name>fragment</param-name>
      <param-value>auto</param-value>
    </init-param>
    <init-param>
      <param-name>lastModified</param-name>
      <param-value>on</param-value>
    </init-param>
    <init-param>
      <param-name>max-age</param-name>
      <param-value>60</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CacheFilter</filter-name>
    <url-pattern>*.gif</url-pattern>
    <url-pattern>*.jpg</url-pattern>
    <url-pattern>*.jpeg</url-pattern>
    <url-pattern>*.png</url-pattern>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <servlet>
    <servlet-name>App Startup</servlet-name>
    <servlet-class>com.softtek.app.startup.AppStartup</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>DispatcherServlet</servlet-name>
    <servlet-class>net.sourceforge.stripes.controller.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>DispatcherServlet</servlet-name>
    <url-pattern>*.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet para el manejo de combos y catalogos</description>
    <servlet-name>CatalogServlet</servlet-name>
    <servlet-class>com.softtek.framework.web.servlet.CatalogServlet</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>CatalogServlet</servlet-name>
    <url-pattern>/catalog</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>net.sf.jasperreports.j2ee.servlets.ImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/report/image</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>401</error-code>
    <location>/WEB-INF/support/error/httpError.jsp?notAuthorized=true</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/WEB-INF/support/error/httpError.jsp?notAuthorized=true</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/support/error/httpError.jsp?pageNotFound=true</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/WEB-INF/support/error/httpError.jsp?requestCannotBeProcessed=true</location>
  </error-page>
  <error-page>
    <error-code>503</error-code>
    <location>/WEB-INF/support/error/httpError.jsp?requestCannotBeProcessed=true</location>
  </error-page>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <page-encoding>iso-8859-1</page-encoding>
      <scripting-invalid>true</scripting-invalid>
      <is-xml>false</is-xml>
      <trim-directive-whitespaces>true</trim-directive-whitespaces>
    </jsp-property-group>
  </jsp-config>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Secure</web-resource-name>
      <url-pattern>/authentication.action</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
    </web-resource-collection>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Remota</web-resource-name>
      <url-pattern>/cove/remota.action</url-pattern>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>RemotaPDF</web-resource-name>
      <url-pattern>/cove/remota.action?mostrarPdfEdocument=</url-pattern>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>All Access</web-resource-name>
      <url-pattern>/usuarios/UsuariosWizard.action</url-pattern>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>All Access1</web-resource-name>
      <url-pattern>/admon/usuarios/recuperarContrasenia/*</url-pattern>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>AccesosFuncionarios</web-resource-name>
      <url-pattern>/authenticationFuncionario.action</url-pattern>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>General</web-resource-name>
      <url-pattern>/generalMessages.action</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <login-config>
    <auth-method>FORM</auth-method>
    <realm-name>jdbcRealm</realm-name>
    <form-login-config>
      <form-login-page>/authentication.action</form-login-page>
      <form-error-page>/authentication.action</form-error-page>
    </form-login-config>
  </login-config>
  <security-role>
    <description>Vucem ROL</description>
    <role-name>USER</role-name>
  </security-role>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>